@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: #F9FAFF;
}
.custom-gradient-header {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
}
.expandable-div {
  width: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.expanded {
  width: 250px;
  animation: .3s slide-left;
}
@keyframes slide-left {
  from {
    width: 0px;
  }
  to {
    width: 250px;
  }
}