body {
  background-color: #141414;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gradient-header {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
}
.expandable-div {
  width: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.expanded {
  width: 250px;
  animation: .3s slide-left;
}
@keyframes slide-left {
  from {
    width: 0px;
  }
  to {
    width: 250px;
  }
}