.animated {
    animation-name: slideUp;
    animation-duration: .4s; /* Adjust as needed */
    animation-timing-function: ease-in-out; /* Adjust as needed */
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .mobile-scroll-bar::-webkit-scrollbar {
    display: none;
  }
  .mobile-scroll-bar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }